*.pyc
*.sqlite
staticfiles
env
htmlcov
dashboard/static/lib
node_modules
MANIFEST
.coveralls.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
